html {
    background-color: #fff;
    body {
        color: #000;
        font-family: verdana, sans-serif;
        margin: 0;
        a {
            color: #333;
            text-decoration: underline;
        }
        #container {
            padding: 1em;
            #page {
                width: 80%;
                margin: 0 auto;
            }
        }
    }
}
