@import "colors.less";

#truck-search {
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.3);
	-webkit-appearance: none;
	color: #111;
	width: 280px;
	outline: 0;
	margin: 0!important;
	font-family: inherit;
	padding-right: 38px;
	border-style: none;
	float: left;
}

.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid @redler;
	float: left;
	margin-right: 10px;
}

.search-filter {
    display: inline-block;
    color: black;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    background-color: transparent;
    font: 16px/26px 'Eames-Regular', Helvetica Neue, Arial;

    border: none;
    border-radius: 0.5em;
    padding: 0.2em 0.2em 0 0.2em;
    margin: 0.2em 0.2em 0 0.2em;
    width: 6em;
    text-align: center;
    cursor: pointer;

    &:hover {
        color: #333;
    }

    &.active {
        color: #333;
        background-color: #D7CEC4;
        box-shadow: 0 1px 0 0 #e6dfd7, 0 -1px 0 0 #ccc3ba;
    }
}
