form#login {
    margin: 2em;
    .form-item {
        margin: 0 0 1em 0;
        font-size: 0.9em;
        label {
            display: block;
        }
        input { 
            font-size: 1.2em;
        }
    }
}
