@import "colors.less";

#map-canvas {
    height: 300px;
}

/*aside {*/
	/*position: fixed;*/
	/*height: 30%;*/
	/*width: 100%;*/
	/*bottom: 0px;*/
	/*left: 0px;*/
/*}*/

ul#open-trucks {
    list-style: none;
	margin: 0;
	padding: 0;
    margin-top: 1em;

	li {
		position:relative;

		padding-top: 1em;
		padding-bottom: 1em;
		border-bottom: 1px solid #ccc;

		&:last-child {
			border-bottom: none;
		}
	}
}

.alert-message {
	background-color: #FFF8D0;
	padding: 10px;
	margin-top: -30px;
}

.truck-image {
	position: absolute;
	top: 0;
	left: 0;
}

.truck-thumbnail {
	width: 60px;
	height: 60px;
	border-radius: 100%;
	margin-top: 2em;
}

.truck-info {
	padding-left: 80px;
	min-height: 120px;

    .openStatus {
        margin-left: 0.5em;
    }

    h3 {
        display: inline;
    }
    
    p {
        word-wrap: break-word;
    }
}

.truck-status {
	.iconic {
		font-size: 1.2em;
		padding-left: 2px;
		padding-right: 2px;
	}

	.location {
		padding-left: 6px;
	}
	.closed {
		color: gray;
	}
}

.tweet-text {
	padding-left: 2em;

	margin-left: 2px;
	margin-bottom: 0px;

	font-size: 0.9em;
	line-height: 1.6em;

	border-left: solid 2px fadeout(@redler, 50%);

	color: @redler-used;
}

.tweet-timeago {
	font-size: 0.9em;
	margin-left: 2.3em;
	color: gray;
}

@media only screen and (min-width: 480px) {

	.truck-thumbnail {
		width: 120px;
		height: 120px;
	}

	.truck-info {
		padding-left: 120px + 20px;
		min-height: 120px;
	}

	.main aside {
		color: black;
		/*padding: 0px 5% 10px;*/

		/*position: static;*/
		/*width: 300px;*/
		/*height: 300px;*/

		/*bottom: auto;*/
		/*left: auto;*/

	}

	.main aside ul {
		margin-left: -40px;
	}

}
