#map-canvas {
    height: 300px;
}

#truck-data {
	font-size: 0.8em;
	color: #888;
	padding: 0 1em;
	margin: 1em;
	.data-item {
		margin-right: 2em;
	}
    li {
        word-wrap: break-word;
    }
}

#truck-sidebar {
	float: left;
	margin-right: 1em;
    max-width: 240px;
}

#truck-content {
	float: left;
}

.info {
	margin-left: 3em;
	font-size: 0.6em;
}

.info .open {
	color: #B89933;
}

.info .closed {
    color: #555;
}

.photo {
	margin: 1em;
}
