#map-canvas {
    height: 300px;
}

#truck-data {
	font-size: 0.8em;
	color: #888;
	padding: 0 1em;
	margin: 1em;
	.data-item {
		margin-right: 2em;
	}
    li {
        word-wrap: break-word;
    }
}

#truck-sidebar {
	max-width: auto;
}
#photos {
	position: relative;
	left: 15%;
}

#truck-content {
	float: left;
	width: 100%;
}

.info {
	margin-left: 3em;
	font-size: 0.6em;
}

.info .open {
	color: #B89933;
}

.info .closed {
    color: #555;
}

.photo {
	margin: 0.25em 0.25em 0.25em 0;
    float: left;
}

#truck-name {
	display: none;
}

@media only screen and (min-width: 681px) {

	#truck-sidebar {
		float: left;
		margin-right: 2em;
		max-width: 240px;
		height: 100%;
	}
	#photos {
		position: static;
		left: auto;
	}

	#truck-name {
		display: block;
	}

	#truck-name-mobile {
		display: none;
	}
	#truck-content {
		float: left;
		width: 50%;
	}
}
