{% extends 'boilerplate.html' %}

{% block stylesheets %}
    {% parent %}
{% endblock %}

{% block scripts %}
    {% parent %}
{% endblock %}

{% block content %}
    <h2>About Us</h2>

    <p>Foodtruckler is a free tracking app for food trucks in Providence, Rhode Island.</p>

    <h3>Do you like eating at food trucks?</h3>
    <p>Just getting out of class? Midnight munchies? With Foodtruckler, you can find out which trucks are around. No more unsuccessful treks down Thayer! Sign up to follow your favorite trucks more easily.</p>

    <h3>Do you have a food truck?</h3>
    <p>Hold on to loyal customers and reach new ones. With a Foodtruckler account, you can always let hungry people know where you'll be.</p>
{% endblock %}
