<!DOCTYPE html>
<html>
    <head>
        <title> Food Trucks brah </title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <% stylesheet('/public/styles/base-style.css') %>
        <%- stylesheets %>
    </head>
    <body>
        <%- body %>
    </body>
</html>
