<!DOCTYPE html>
<html>
    <head>
        <title>Food Trucks brah</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <%- block.metas %>

        <link rel="stylesheet" href="/styles/base-style.css" />
        <%- stylesheets %>

        <script src="/js/include/jquery.js"></script>
        <%- scripts %>
    </head>
    <body>
        <div id="container">
            <div id="page">
                <div id="header">
                    <h1><a href="/">foodtruckler</a></h1>
                    <ul id="navigation">
                        <li><a href="/sign-up">Sign up</a></li>
                        <li><a href="/login">Log in</a></li>
                        <li><a href="/trucks">Trucks</a></li>
                    </ul>
                </div>
                <div id="content">
                    <%- body %>
                </div>
            </div>
        </div>

    </body>
</html>
