<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}FoodTruckYoloSwagMagic{%endblock%}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        {% block stylesheets %}
        <link rel="stylesheet" href="/styles/normalize.css" />
        <link rel="stylesheet" href="/styles/base-style.css" />
        {% endblock %}
        
        <script src="/js/include/jquery.js"></script>
        <script src="/js/global.js"></script>
        {% block scripts %} {% endblock %}
    </head>
    <body>
        <div class="header-container">
            <header class="wrapper clearfix">
                <a href="/"><h1 class="title">Foodtruckler</h1></a>
                <nav>
                    <ul>
                        <li><a href="/">Trucks</a></li>
                        <li><a href="/mapview">Mapview</a></li>
                        {% if !user %}
                        <li><a href="/login">Login</a></li>
                        {% else %}
                        <li><a href="/logout">Logout</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </header>
        </div>
        <div class="main-container">
            <div class="main wrapper clearfix">
                {% block content %}{% endblock %}
            </div> <!-- #main -->
        </div> <!-- #main-container -->
        <div class="footer-container">
            <footer>
                {% if !user %}
                <a href="/sign-up">Sign up </a>
                {% else %}
                <a href="/edit-account">Account settings</a>
                {% endif %}
                {% if my_truck %}
                <a href="/edit-truck/info">Manage your truck</a>
                {% endif %}
            </footer>
        </div>
    </body>
</html>
