<!DOCTYPE html>
<html>
    <head>
        <title> Food Trucks brah </title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <% stylesheet('styles/base-style.css') %>
        <%- stylesheets %>
    </head>
    <body>
        <div id="container">
            <div id="page">
                <div id="header">
                    <h1>Food trucks are best trucks</h1>
                </div>
                <div id="content">
                    <%- body %>
                </div>
            </div>
        </div>
    </body>
</html>
