<!DOCTYPE html>
<html>
    <head>
        <title> Food Trucks brah </title>
        <% stylesheet('styles/base-style.css') %>
        <%- stylesheets %>
    </head>
    <body>
        <%- body %>
    </body>
</html>
