<!DOCTYPE html>
<html>
    <head>
        <title>Food Trucks brah</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        {% block stylesheets %}
        <link rel="stylesheet" href="/styles/base-style.css" />
        {% endblock %}
        
        <script src="/js/include/jquery.js"></script>
        {% block scripts %} {% endblock %}
    </head>
    <body>
        <div id="container">
            <div id="page">
                <div id="header">
                    <h1><a href="/">foodtruckler</a></h1>
                    <ul id="navigation">
                        <li><a href="/trucks">Trucks</a></li>
                        {% if !user %}
                            <li><a href="/sign-up">Sign up</a></li>
                            <li><a href="/login">Log in</a></li>
                        {% else %}
                            <li><a href="/logout">Logout</a></li>
                        {% endif %}
                    </ul>
                </div>
                <div id="content">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>

    </body>
</html>
