{% import './macros.html' as macros %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}FoodTruckYoloSwagMagic{%endblock%}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        {% block stylesheets %}
        <link rel="stylesheet" href="/styles/normalize.css" />
        <link rel="stylesheet" href="/styles/base-style.css" />
        {% endblock %}
        
        <script src="/js/include/jquery.js"></script>
        <script src="/js/global.js"></script>
        <script>
            var foodTruckNS = foodTruckNS || {};
            {% if user %}
                foodTruckNS.userId = {{user.id}};
            {% endif %}
        </script>
        {% block scripts %} {% endblock %}
    </head>
    <body>
        <div class="header-container">
            <header class="wrapper clearfix">
                <a href="/"><h1 class="title">Foodtruckler</h1></a>
                <nav>
                    <ul>
                        <li><a href="/">Trucks</a></li>
                        <li><a href="/mapview">Mapview</a></li>
                        {% if !user %}
                        <li><a href="/login">Login</a></li>
                        {% else %}
                        <li>
                            {% if my_truck.id %}
                                <div id="my-truck-photo">
                                    {{ macros.truckThumbnail(my_truck, 50) }}
                                </div>
                            {% else %}
                                <a href="/logout">Logout</a>
                            {% endif %}
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </header>
        </div>
        <div class="main-container">
            <div class="main wrapper clearfix">
                {% block content %}{% endblock %}
            </div> <!-- #main -->
        </div> <!-- #main-container -->
        <div class="footer-container">
            <footer>
                {% if !user %}
                <a href="/sign-up">Sign up </a>
                {% else %}
                <a href="/edit-account/password">Account settings</a>
                {% endif %}
                {% if my_truck %}
                <a href="/edit-truck/info">Manage your truck</a>
                {% endif %}

                <a href="/about">About us </a> 
                <a href="/tos">Terms of service</a> 
                <a href="/privacy">Privacy policy</a> 
            </footer>
        </div>
    </body>
</html>
