{% extends 'edit-truck.html' %}

{% block stylesheets %}
    {% parent %}
    <style type="text/css">
        #map-canvas {
            height: 300px;
        }
    </style>
{% endblock %}

{% block scripts %}
    {% parent %}
    <script type="text/javascript" src="/js/edit-loc.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0uRmvgWbp3WBxVaCqf1WkZpu5nSibMpc&sensor=false"></script>
    <script type="text/javascript" src="/js/mapview.js"> </script>
    <script>
        /* for mapview */
        var initData = {
            zoomLevel: 14,
            truckId: {{my_truck.id}}
        };
        foodTruckNS.mapview.init(initData);

        /* for edit-loc */
        var foodTruckNS = foodTruckNS || {};
        foodTruckNS.editLoc = foodTruckNS.editLoc || {};
        var open = {{my_truck.open}};
        var truckId = {{my_truck.id}};
        $(function() {
            foodTruckNS.editLoc.init(open, truckId);

            {% if my_truck.open %}
                var dateClose = "{{my_truck.dateclose}}";
                foodTruckNS.editLoc.setCloseTime(dateClose);
            {% endif %}
        });

    </script>
{% endblock %}

{% block innerContent %}
<h2>{{my_truck.name}} Location</h2>
<div class="error-message" style="display:none;"></div>

<div id="currently-open-wrapper" style="display:none;">
    <p> We are currently showing {{ my_truck.name }}'s location. Want to us stop showing your truck's location?</p>

    <div id="map-canvas"></div>
    <p id="close-time"> </p>
</div>
<div id="currently-closed-wrapper" style="display:none;">
    <p> We are not currently showing {{ my_truck.name }}'s location. Want us to broadcast your truck's location?</p>

    <div id="autoclose-wrapper"> 
        Automatically stop showing your location in
        <select id="hour-select">
            <option>0</option>
            <option>1</option>
            <option selected>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
            <option>11</option>
            <option>12</option>
        </select>
        hours and 
        <select id="minute-select">
            <option selected>0</option>
            <option>15</option>
            <option>30</option>
            <option>45</option>
        </select>
        minutes
    </div>
</div>
    
<button type="button" id="open-button" style="display:none;"></button>

{% endblock %}
