{% extends 'edit-account.html' %}

{% block stylesheets %}
    {% parent %}
    <link rel="stylesheet" href="/styles/edit-account-favorites.css" />
{% endblock %}

{% block scripts %}
    {% parent %}
    <script type="text/javascript" src="/js/edit-account-favorites.js"></script>

    <script type="text/javascript">
        $(function() {
            foodTruckNS.favorites.init();
        });
    </script>
{% endblock %}


{% block innerContent %}

<h2> {{user.name}}'s Favorite Trucks </h2>
<div class="error-message" style="display:none;"></div>

<div id="favorites-container"></div>

{% endblock %}
