{% extends 'boilerplate.html' %}

{% block stylesheets %}
    {% parent %}
    <link rel="stylesheet" href="/styles/edit-truck-photos.css" />
{% endblock %}

{% block scripts %}
    {% parent %}
    <script src="/js/edit-truck-photos.js"></script>
    <script>
        window.csrf = '{{ csrfToken }}';
    </script>
{% endblock %}

{% block content %}
<h2>{{my_truck.name}} Photos</h2>

<div id="upload-new-photo">
    <h3>Upload photo</h3>
    <form method="post" enctype="multipart/form-data" class="standard">
        <div class="form-item">
            <label for="new_photo">Photo</label>
            <input type="file" name="photo" id="new_photo" class="fupload" />
        </div>
        <div class="form-item">
            <label for="photo_desc">Photo description
                <span class="optional">(optional)</span>
            </label>
            <input type="text" name="desc" id="photo_desc" />
        </div>
        <input type="submit" class="submit" value="Upload" />
    </form>
</div>

<h3>Your photos</h3>
<div id="uploaded-photos-cont">
    {% if photos.length %}
    {% for photo in photos %}
        <div class="photo" data-photoid="{{ photo.id }}">
            <img src="{{ photo.thumb }}" width="{{ thumbnailSize }}" height="{{ thumbnailSize }}" />
            <span class="delete-photo">Delete</span>
        </div>
    {% endfor %}
    {% else %}
    <p class="no-photos">Your truck doesn't have any photos yet.</p>
    {% endif %}
</div>
{% endblock %}
