{% extends 'boilerplate.html' %}

{% block stylesheets %}
    {% parent %}
{% endblock %}

{% block content %}
<h2>Manage {{my_truck.name}}</h2>

<form method="post" id="edit-truck-details" class="standard">

    <div class="form-item">
        <label for="truck_name">Truck name</label>
        <input type="text" id="truck_name" name="name" value="{{my_truck.name}}" />
        {% if noName %}
        <div class="error">
            Your truck must have a name!
        </div>
        {% endif %}
    </div>

    <div class="form-item">
        <label for="truck_website">Website</label>
        <input type="text" id="truck_website" name="website" value="{{my_truck.website|default("")}}" /> 
        {% if badWebsite %}
        <div class="error">
            <code class="url">{{enteredWebsite}}</code> is not a valid web address. Make sure your url begins with <code class="url">http://</code>.
        </div>
        {% endif %}
    </div>

    <div class="form-item">
        <label for="truck_twitter">Twitter name</label>
        <input type="text" id="truck_twitter" name="twitterName" value="{{my_truck.twittername|default("")}}" />
    </div>

    <div class="form-item">
        <label for="truck_phone">Phone</label>
        <input type="text" id="truck_phone" name="phone" value="{{my_truck.phone|default("")}}" />
    </div>

    <input type="submit" value="Save" />
</form>
{% endblock %}
