{% extends 'boilerplate.html' %}

{% block stylesheets %}
    {% parent %}
{% endblock %}

{% block scripts %}
    {% parent %}
    <script type="text/javascript" src="/js/edit-loc.js"></script>
    <script>
        var foodTruckNS = foodTruckNS || {};
        foodTruckNS.editLoc = foodTruckNS.editLoc || {};
        foodTruckNS.editLoc.open = {{my_truck.open}};

        $(function() {
            foodTruckNS.editLoc.init();
        });
    </script>
{% endblock %}

{% block content %}
<h2>Manage {{my_truck.name}}'s Location</h2>

<div id="currently-open-wrapper" style="display:none;">
    <p> We are currently tracking {{ my_truck.name }}'s location. </p>
    <p>Want to us stop broadcasting your truck's location?</p>
</div>
<div id="currently-closed-wrapper" style="display:none;">
    <p> We are not currently tracking {{ my_truck.name }}'s location.</p> 
    <p> Want us to broadcast your truck's location?</p>
</div>
    
<button type="button" id="open-button" style="display:none;"></button>

{% endblock %}
