<% layout('boilerplate') %>

<% stylesheet('/styles/index.css') %>

<div id="fatal-error">
    <h2>Whoooooooooooooops!</h2>

    <p>We fucked up. Everything went very, very wrong while processing your
    request. Try again?</p>
</div>
