<% layout('boilerplate') %>

<% stylesheet('/styles/index.css') %>

<% if (user) { %>
        <p> Hello there, <%=user.name %> </p>
<%  } %>

<% if (following) { %>
    <ul>
    <% for (var i = 0; i < following.length; i++) { %>
        <li> <%= "truck id: " + following[i].truckid %> </li>
    <% } %>
    </ul>
<% } %>
