<% layout('boilerplate') %>

<% stylesheet('/styles/index.css') %>

<% if (test) { %>
        <p> This is the index: <%=test %> </p>
<%  } %>

<ul>
    <li><a href="/sign-up">Sign up</a></li>
    <li><a href="/login">Log in</a></li>
</ul>
