{% extends 'boilerplate.html' %}

{% block stylesheets %}
    {% parent %}
    <link rel="stylesheet" href="/styles/index.css" />
    <link rel="stylesheet" href="/styles/filter.css" />
{% endblock %}

{% block scripts %}
    {% parent %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0uRmvgWbp3WBxVaCqf1WkZpu5nSibMpc&sensor=false"></script>

    <script type="text/javascript" src="/js/mapview.js"> </script>
    <script type="text/javascript">
        $(function() {
            var initData = {
                zoomLevel: 14
            };
            foodTruckNS.mapview.init(initData);
        });
    </script>

    <script type="text/javascript" src="/js/query-trucks.js"></script>
    <script type="text/javascript">
        $(function() {
            foodTruckNS.query.init($('#open-trucks'));
            foodTruckNS.query.getTrucks({});
        });
    </script>
{% endblock %}

{% block content %}
    <article>
		{# 
        {% if not user %}
            <p class="alert-message"> Log in to follow your favorite food trucks! </p>
        {% endif %}
		#}

        <h2> Find your Truck! </h2>
        <div id="search-wrapper">
            <div class="error-message" style="display:none;"></div>
			<a id="truck-search-button">
				<span class="iconic iconic-magnifying-glass"></span>
			</a>
            <input type="text" id="truck-search" placeholder="Search trucks"></input>
        </div>
        <div id="filter-wrapper">
            {% if user %}
            <a class="search-filter" id="favorites-filter"> Favorites </a>
            {% endif %}
            <a class="search-filter" id="near-filter"> Near you </a>
            <a class="search-filter" id="open-filter"> Open </a>
        </div>

        <ul id="open-trucks">
        </ul>
    </article>

    <aside>
        <div id="map-canvas"></div>
    </aside>
{% endblock %}
