{% extends 'boilerplate.html' %}

{% block stylesheets %}
    {% parent %}
    <link rel="stylesheet" href="/styles/index.css" />
{% endblock %}

{% block scripts %}
    {% parent %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0uRmvgWbp3WBxVaCqf1WkZpu5nSibMpc&sensor=false"></script>

    <script type="text/javascript" src="/js/mapview.js"> </script>
    <script type="text/javascript">
        $(function() {
            foodTruckNS.mapview.init(14);
        });
    </script>
{% endblock %}

{% block content %}
    <article>
        {% if user %}
            <h2> Favorited Trucks </h2>

            {% if followedTrucks.length %}
                <ul> 
                {% for truck in followedTrucks %}
                    <li> 
                        <a href= "trucks/{{ truck.urlid }}" >
                            {{ truck.name }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                <p> You are not favoriting any trucks :( </p>
            {% endif %}

        {% else %}
            <p class="alert-message"> Log in to follow your favorite food trucks! </p>
        {% endif %}

        <h2> All Trucks </h2>

        <ul id="open-trucks">
        {% for truck in allTrucks %}
        
            <li> 
                {% if truck.uploadid %}
				<a class="truck-image" href="trucks/{{truck.urlid }}">
					<img class="truck-thumbnail"
                        src="{{ truck.thumb }}"
						alt="{{ truck.name }}"
                        width="{{ thumbnailSize }}" height="{{ thumbnailSize }}" />
				</a>

                {% else %}
				<a class="truck-image" href="trucks/{{truck.urlid }}">
					<img class="truck-thumbnail" src="/images/default-truck.jpg"
					alt="{{ truck.name }}"
                    width="{{ thumbnailSize }}" height="{{ thumbnailSize }}" />
				</a>

                {% endif %}
				<div class="truck-info">
					<a href="trucks/{{truck.urlid }}">
						<h3 class="truck-name">
							{{ truck.name }}
						</h3>
					</a>
                    {% if truck.description %} 
					    <p>{{ truck.description }}</p>
                    {% endif %}

				</div>
            </li>
        {% endfor %}
        </ul>
    </article>

    <aside>
        <div id="map-canvas"></div>
    </aside>
{% endblock %}
