{% extends 'boilerplate.html' %}

{% block stylesheets %}
    {% parent %}
    <link rel="stylesheet" href="/styles/index.css" />
{% endblock %}

{% block scripts %}
    {% parent %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0uRmvgWbp3WBxVaCqf1WkZpu5nSibMpc&sensor=false"></script>

    <script type="text/javascript" src="/js/mapview.js"> </script>
    <script type="text/javascript">
        $(function() {
            var initData = {
                zoomLevel: 14
            };
            foodTruckNS.mapview.init(initData);
        });
    </script>

    <script type="text/javascript" src="/js/query-trucks.js"></script>
    <script type="text/javascript">
        $(function() {
            foodTruckNS.query.init($('#open-trucks'));
        });
    </script>
{% endblock %}

{% block content %}
    <article>
        {% if user %}
            <h2> Favorited Trucks </h2>

            {% if followedTrucks.length %}
                <p> LOL THIS IS NO LONGER IMPLEMENTED REGRESSION </p>
            {% else %}
                <p> LOL THIS IS NO LONGER IMPLEMENTED REGRESSION </p>
            {% endif %}

        {% else %}
            <p class="alert-message"> Log in to follow your favorite food trucks! </p>
        {% endif %}

        <h2> All Trucks </h2>
        <input type="text" id="truck-search" placeholder="Search trucks"></input>
        <button id="truck-search-button"> Search </button>

        <ul id="open-trucks">
        </ul>
    </article>

    <aside>
        <div id="map-canvas"></div>
    </aside>
{% endblock %}
