<% layout('boilerplate') %>

<% stylesheet('/styles/index.css') %>

<% if (user) { %>
        <p> Hello there, <%=user.name %> </p>
<%  } %>

<ul>
    <li><a href="/sign-up">Sign up</a></li>
    <li><a href="/login">Log in</a></li>
</ul>
