{% extends 'boilerplate.html' %}

{% block stylesheets %}
{% parent %}
<link rel="stylesheet" href="/styles/login.css" />
{% endblock %}

{% block scripts %}
    {% parent %}
    <script type="text/javascript">
        {% if badLoginCredentials %}
            $(function() {
                foodTruckNS.displayError("Invalid username/password combination");
            });
        {% endif %}
    </script>
{% endblock %}

{% block content %}

<h2>Log in</h2>
<div class="error-message" style="display:none;"> </div>

<form method="post" action="/login" id="login" class="standard">

    <div class="form-item">
        <label for="login_username">Username</label>
        <input id="login_username" type="text" name="name" value="{{ enteredUsername }}" />
    </div>

    <div class="form-item">
        <label for="login_pass">Password</label>
        <input id="login_pass" type="password" name="pass" />
    </div>

    <input type="submit" value="Log in" />
</form>

<p>
Don't have an account yet? Sign up <a href="/sign-up">here</a>!
</p>

{% endblock %}
