{% extends 'boilerplate.html' %}

{% block stylesheets %}
    {% parent %}
    <style type="text/css">
        #map-canvas {
            height: 600px;
        }
    </style>
{% endblock %}

{% block scripts %}
    {% parent %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0uRmvgWbp3WBxVaCqf1WkZpu5nSibMpc&sensor=false"></script>

    <script type="text/javascript" src="/js/mapview.js"></script>
    <script type="text/javascript">
        var foodTruckNS = foodTruckNS || {};
        foodTruckNS.mapview = foodTruckNS.mapview || {};
        var geopoints = [];
        {% for geo in geodata %}
            geopoints.push({});
            geopoints[geopoints.length-1].point = "{{geo.st_astext}}";
            geopoints[geopoints.length-1].urlid = "{{geo.urlid}}";
            geopoints[geopoints.length-1].name = "{{geo.name}}";
        {% endfor %}

        foodTruckNS.mapview.init(geopoints);
    </script>
{% endblock %}

{% block content %}
<div id="map-canvas"></div>
{% endblock %}
