{% extends 'boilerplate.html' %}

{% block stylesheets %}
    {% parent %}
{% endblock %}

{% block scripts %}
    {% parent %}
{% endblock %}

{% block content %}
  <h2>Privacy Policy</h2>

  <p>By using Foodtruckler and its services, you consent to the collection and use of your information as outlined in this policy, and to our general <a href="/tos">Terms of Service</a>.</p>

  <h3>Information</h3>
  <p>Foodtruckler collects the e-mail addresses, usernames, and passwords of users who register for its services. We will never share this information with third parties for commercial purposes.</p>
  <p>Some opt-in features of this application collect a user's location. We will never share this information with third parties for commercial purposes.</p>
  <p>Information collected from food truck accounts, including location, phone number, and web address, is considered public and will be freely accessible to registered and non-registered users.</p>

  <h3>Disclaimer</h3>
  <p>This Privacy Policy may change at any time.</h3>
{% endblock %}
