{% extends 'boilerplate.html' %}

{% block scripts %}
<script src="/js/sign-up.js"></script>
{% endblock %}

{% block stylesheets %}
{% parent %}
<link rel="stylesheet" href="/styles/sign-up.css" />
{% endblock %}

{% block content %}
<h2>Sign up</h2>

<form method="post" action="/sign-up" id="sign-up">

    <div class="form-item">
        <label for="signup_email">Email</label>
        <input id="signup_email" type="text" name="email"{% if enteredEmail %} value="{{ enteredEmail }}"{%endif%} />
        {% if noEmail %}
            <div class="error">
                You must provide an email address.
            </div>
        {% endif %}
        {% if badEmail %}
            <div class="error">
                <code class="email">{{ enteredEmail }}</code> is not a valid email address.
            </div>
        {% endif %}
    </div>

    <div class="form-item username-form-item">
        <label for="signup_username">Username</label>
        <input id="signup_username" type="text" name="name" value="{{ enteredUsername }}" />
        {% if noUsername %}
            <div class="error">
                You must provide a username.
            </div>
        {% endif %}
        {% if usernameTaken %}
            <div class="error" id="username-error">
                The username '<span class="username">{{ enteredUsername }}</span>' is already taken. 
            </div>
        {% endif %}
    </div>

    <div class="form-item">
        <label for="signup_pass">Password</label>
        <input id="signup_pass" type="password" name="pass" />
        {% if noPassword %}
            <div class="error">
                You must provide a password.
            </div>
        {% endif %}
    </div>

    <input type="submit" value="Sign up" />
</form>
{% endblock %}
