{% extends 'boilerplate.html' %}

{% block stylesheets %}
    {% parent %}
{% endblock %}

{% block scripts %}
    {% parent %}
{% endblock %}

{% block content %}
  <h2>Terms of Service</h2>

  <p>By using this application ("Foodtruckler"), you agree to be bound by these Terms of Service.</p>

  <h3>Restrictions</h3>
  <p>Foodtruckler provides a service which allows users to find the location and hours of food trucks, or to update information about their own food truck. We are not responsible for this information
being accurate, complete, or up to date.</p>

  <h3>External Links</h3>
  <p>Foodtruckler links to a number of other websites which do not operate under our Terms of Service or Privacy Policy.
We are not responsible for their content or availability, and Foodtruckler users visit these websites at their own risk.</p>

  <h3>Privacy</h3>
  <p>By using Foodtruckler, you agree to Foodtruckler's <a href="/privacy">Privacy Policy</a>.

  <h3>Disclaimer</h3>
  <p>Foodtruckler and all information and services it offers are provided "as is," with no warranties or guarantees whatsoever.
We disclaim, to the fullest extent permitted by law, all express, implied, and statutory warranties.</p>
  <p>We reserve the right to modify or terminate our information and services, or your access to the information and services, at any time, for any reason, and without notice.</p>
  <p>These Terms of Service may be subject to change without notice. Please check periodically for changes.</p>
{% endblock %}
