{% extends 'boilerplate.html' %}

{% block title %}{{ truck.name }}{% endblock %}

{% block stylesheets %}
    {% parent %}
    <link rel="stylesheet" href="/styles/truck.css" />
{% endblock %}

{% block scripts %}
    {% parent %}
    <script type="text/javascript" src="/js/truck.js"></script>

    {% if user %}
    <script type="text/javascript">
        var foodTruckNS = foodTruckNS || {};
        foodTruckNS.truck = foodTruckNS.truck || {};
        foodTruckNS.truck.following = {{following}};
        foodTruckNS.truck.truckid = {{truck.id}};
        foodTruckNS.truck.userid = {{user.id}};

        $(function() {
            foodTruckNS.truck.setupFollowButton();
        });
    </script>
    {% endif %}

{% endblock %}

{% block content %}
<h2>{{ truck.name }}{% if truck.id == my_truck_id %} <span class="your_truck">This is your truck!</span>{%endif%}</h2>

<div id="truck-data">
    {% if truck.phone %}
        <span class="data-item phone">
            Phone: <a href="tel:{{ truck.phone }}">{{ truck.phone }}</a>
        </span>
    {% endif %}
    {% if truck.website %}
        <span class="data-item website">
            Website: <a href="{{ truck.website }}" class="truck-website">{{ truck.website }}</a>
        </span>
    {% endif %}

    {% if user %}
        <button type="button" id="follow" style="display:none;"></button>
    {% else %}
        <span> (Log in to follow this truck) </span>
    {% endif %}
</div>
{% endblock %}
