{% extends 'boilerplate.html' %}

{% block title %}{{ truck.name }}{% endblock %}

{% block stylesheets %}
    {% parent %}
    <link rel="stylesheet" href="/styles/truck.css" />
    <link rel="stylesheet" href="/styles/lightbox.css" />
{% endblock %}

{% block scripts %}
    {% parent %}

    {% if truck.open or (user and user.admin) %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0uRmvgWbp3WBxVaCqf1WkZpu5nSibMpc&sensor=false"></script>
    {% endif %}

    <script type="text/javascript" src="/js/includes/lightbox.js"></script>
    <script type="text/javascript" src="/js/truck.js"></script>

    {% if user %}
    <script type="text/javascript">
        var foodTruckNS = foodTruckNS || {};
        foodTruckNS.truck = foodTruckNS.truck || {};
        foodTruckNS.truck.favoriting = {{following}};
        foodTruckNS.truck.truckid = {{truck.id}};
        foodTruckNS.truck.userid = {{user.id}};
        $(function() {
            foodTruckNS.truck.init();
        });
    </script>
    {% endif %}

    {% if truck.open %}
    <script type="text/javascript" src="/js/mapview.js"></script>
    <script type="text/javascript">
        $(function() {
            var truckId = {{truck.id}};
            var initData = {
                zoomLevel: 14,
                addInfoWindows: false 
            };
            foodTruckNS.mapview.init(initData);
            foodTruckNS.mapview.showMyTruck(truckId);
        });
    </script>
    {% endif %}

    {% if user and user.admin %}
    <script type="text/javascript" src="/js/edit-loc.js"></script>
    <script type="text/javascript">
        $(function() {
            var open = {{truck.open}};
            var truckId = {{truck.id}};
            foodTruckNS.editLoc.admin = true;
            foodTruckNS.editLoc.init(open, truckId);
        });
    </script>
    {% endif %}

{% endblock %}

{% block content %}
<div id="truck-sidebar">
	<div id="prof-pic">
		<img width="{{ profPicSize }}" 
			 height="{{ profPicSize }}"
			{% if profPic %}
				 src="{{ profPic.profPicThumb }}"
			{% else %}
				 src="/images/default-truck.jpg"
			{% endif %}
			alt="{{ truck.name }}"
		/>
	</div>

    {% if photos %}
        <div class="photo-preview">
        {% for photo in photos %}
            <div class="photo">
                <img src="{{ photo.thumb }}" width="{{ photoThumbSize }}" height="{{ photoThumbSize }}" />
            </div>
        {% endfor %}
        </div>
    {% endif %}

	<ul id="truck-data">
		{% if truck.phone %}
			<li class="data-item phone">
				Phone: <a href="tel:{{ truck.phone }}">{{ truck.phone }}</a>
			</li>
		{% endif %}
		{% if truck.website %}
			<li class="data-item website">
				Website: <a href="{{ truck.website }}" class="truck-website">{{ truck.website }}</a>
			</li>
        {% endif %}
        
        {% if truck_cats && truck_cats.length %}
            <li class="data-item categories">
                {{ truck_cats_names | commasep }}
            </li>
        {% endif %}

		{% if user %}
			<li>
				<button type="button" id="favorite" style="display:none;"></button>
			</li>
		{% else %}
			<li>
				(Log in to favorite this truck)
			</li>
        {% endif %}

		<li>
		{{ truck.description|default("No Description Available!") }}
        </li>

        {% if truck.menu %}
            <li>
                <h5>Menu</h5>
                <img src="{{ truck.menu | thumbnailUrl(100) }}" width="100" height="100" alt="Photo of menu" />
            </li>
        {% endif %}
	</ul>
</div>

<div id="truck-content">
	<h2>
		{{ truck.name }}
		
		{% if truck.id == my_truck_id %} 
			<span class="info"> This is your truck! </span>
		{%endif%} 
		<span class="info">
		{% if truck.open %} 
	        <span class="open">(open!)</span>
		{% else %} 
			<span class="closed">(closed)</span>
		{%endif%}
		</span>
	</h2>

    {% if user and user.admin %}
        {# hidden select's necessary so edit-loc can work properly #}
        <div class="error-message" style="display:none;"></div>
        <select id="hour-select" style="display:none;">
            <option selected>1</option>
        </select>
        <select id="minute-select" style="display:none;">
            <option selected>0</option>
        </select>
        <button id="open-button"> </button>
    {% endif %}
    {% if truck.open %}
        <div id="map-canvas"></div>
    {% endif %}

    {% if truck.tweets %} 
        {% for tweet in truck.tweets %}
            <p> {{tweet.text}} </p>
        {% endfor %}
    {% endif %}
</div>


{% endblock %}
