{% extends 'boilerplate.html' %}

{% block stylesheets %}
    {% parent %}
{% endblock %}


{% block content %}
{% if user %}
    <h2> Followed Trucks </h2>

    {% if followedTrucks.length %}
        <ul> 
        {% for truck in followedTrucks %}
            <li> 
                <a href= "trucks/{{ truck.urlid }}" >
                    {{ truck.name }}
                </a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p> You are following no trucks :( </p>
    {% endif %}

{% else %}
    <p> Log in to follow trucks! </p>
{% endif %}

<h2> All Trucks </h2>

<ul>
{% for truck in allTrucks %}
    <li> 
        <a href= "trucks/{{truck.urlid }}" >
            {{ truck.name }}
        </a>
    </li>
{% endfor %}
</ul>
{% endblock %}
